* {box-sizing: border-box;}
html {
  height: 100%;
}
ul {list-style-type: none;}
body {
  font-family: Verdana, sans-serif;
  margin: 0px;
  background-color: #fcfcfc;
  height: 100%;
}
h1 {
  text-align: center;
  color: #777;
  margin: 0px;
  padding: 30px;
}

.month {
    padding: 70px 25px;
    width: 100%;
    background: #1abc9c;
    text-align: center;
}

.month ul {
    margin: 0;
    padding: 0;
}

.month ul li {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.month .prev {
    float: left;
    padding-top: 10px;
}

.month .next {
    float: right;
    padding-top: 10px;
}

.weekdays {
    margin: 0;
    padding: 10px 0;
    background-color: #ddd;
}

.weekdays li {
    display: inline-block;
    width: 13.6%;
    color: #666;
    text-align: center;
}

.daySelected {
  text-align: center;
  color: #666;
  margin: 0;
  padding: 10px 0;
  background-color: #ddd;
}

.days {
    padding: 10px 0;
    background: #eee;
    margin: 0;
}

.days li{
    list-style-type: none;
    display: inline-block;
    width: 13.6%;
    text-align: center;
    margin-bottom: 5px;
    font-size:12px;
    color: #777;
    /*padding: 5px;*/
}

span {
  padding: 5px;
  display: block;
}

.listEvents {
  padding: 10px 0;
  background: #eee;
  margin: 0;
  text-align: center;
  color: #777;
  padding: 5px;
}

.days li .active {
    padding: 5px;
    background: #1abc9c;
    color: white !important
}

.days li:hover {
    background: #1abc9c;
    opacity: 0.7;
    color: white !important
}

/* Add media queries for smaller screens */
@media screen and (max-width:720px) {
    .weekdays li, .days li {width: 13.1%;}
}

@media screen and (max-width: 420px) {
    .weekdays li, .days li {width: 12.5%;}
    .days li{padding: 2px;}
}

@media screen and (max-width: 290px) {
    .weekdays li, .days li {width: 12.2%;}
}
